body {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  padding-top: 20px;
  display: inline-block;
  height: 1360px; }

header {
  display: inline-block;
  background-color: #F6F6F6;
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px #E5E5E5 solid;
  font-family: helvetica;
  font-size: 0.8em;
  font-weight: bold; }

.home {
  display: inline-block;
  width: 30px;
  height: 40px;
  margin-top: 0px;
  margin-left: 159px;
  margin-right: 12px; }

.home a {
  color: black; }

.home a:hover {
  color: #4183C4; }

.notifications {
  display: inline-block;
  text-align: center;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 10px;
  border-left: #EEEEEE 1px solid;
  border-right: #EEEEEE 1px solid; }

.notifications a {
  color: #C1C1C1; }

.notifications a:hover {
  color: #4183C4; }

.search {
  display: inline-block; }

header input {
  width: 207px;
  height: 25px;
  border: 1px #DDDDDD solid;
  border-radius: 3px;
  color: #AEA9A9; }

.headernavLeft {
  display: inline-block;
  margin: 0px;
  padding: 0px; }

.headernavLeft a {
  color: black;
  text-decoration: none; }

.headernavLeft a:hover {
  color: #4183C4; }

.headernavLeft ul {
  padding-left: 2px; }

.headernavLeft ul li {
  display: inline-block;
  margin-left: 10px; }

.headernavRight {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: right;
  position: absolute;
  padding-left: 300px; }

.headernavRight a {
  color: black;
  text-decoration: none; }

.headernavRight a:hover {
  color: #4183C4; }

.headernavRight ul {
  padding-left: 2px; }

.headernavRight ul li {
  display: inline-block;
  margin-left: 10px; }

.bottomWrap {
  display: inline-block;
  width: 100%;
  position: relative;
  font-family: helvetica;
  vertical-align: bottom;
  font-size: 0.8em;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 30px; }

.footernavLeft {
  display: inline-block;
  margin-left: 150px;
  padding: 0px; }

.footernavLeft a {
  color: #4183C4;
  text-decoration: none; }

.footernavLeft a:hover {
  color: black; }

.footernavLeft ul {
  padding-left: 2px; }

.footernavLeft ul li {
  display: inline-block;
  margin-left: 10px; }

.footernavRight {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: right;
  position: absolute;
  padding-left: 50px; }

.footernavRight a {
  color: #4183C4;
  text-decoration: none; }

.footernavRight a:hover {
  color: black; }

.footernavRight ul {
  padding-left: 2px; }

.footernavRight ul li {
  display: inline-block;
  margin-left: 10px; }

.footerMiddle {
  display: inline-block;
  margin-left: 170px;
  margin-right: 60px; }

.footerMiddle a {
  color: lightgrey; }

.footerMiddle a:hover {
  color: grey; }

.name {
  padding-top: 7px;
  color: #333333;
  font-size: 1.6em; }

.info {
  border-bottom: #EEEEEE 1px solid;
  border-top: #EEEEEE 1px solid;
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 22px; }

.info a {
  text-decoration: none;
  color: #4183C4; }

.info span {
  color: #CCCCCC; }

.sideBar {
  width: 22%;
  display: inline-block;
  font-family: helvetica;
  list-style-type: none;
  margin-left: 118px;
  float: left; }

#navBar a {
  width: 70%;
  display: inline;
  font-family: helvetica;
  text-decoration: none; }

#navBar ul li {
  display: inline;
  padding: 0.2em 1em;
  color: #666666;
  vertical-align: top; }

.orgImage {
  width: 30px;
  height: 30px; }

.avatar {
  border-radius: 6px;
  width: 230px;
  height: 230px; }

.orglist {
  list-style-type: none; }

.sideBar h1 {
  margin: 0px; }

.sideBar h2 {
  color: #666666;
  margin: 0px;
  padding: 0px;
  font-size: 1.25em;
  font-weight: lighter; }

.follow {
  width: 80%;
  display: inline-block;
  list-style-type: none;
  font-weight: bolder;
  border-bottom: #EEEEEE 1px solid; }

.follow li a {
  text-decoration: none;
  color: black; }

.follow li a:hover {
  color: #4183C4; }

.follow li {
  display: inline-block;
  padding: 10px;
  font-size: 2em; }

.wordsBelow {
  font-size: 0.3em;
  margin: 0px;
  color: #BBBBBB;
  padding: 0px; }

.repoBar {
  display: block;
  width: 60%;
  height: 700px;
  float: left;
  vertical-align: top;
  font-family: helvetica; }

.repoBar h1 {
  margin: 0px; }

.eachRepo {
  border-bottom: #EEEEEE 1px solid;
  border-top: #EEEEEE 1px solid;
  padding: 10px;
  display: inline-block;
  width: 100%;
  height: 80px; }

.eachRepo a {
  text-decoration: none;
  color: #4183C4;
  font-size: 0.7em;
  font-family: helvetica;
  display: inline-block;
  position: relative;
  margin: 4px; }

.eachRepo a:hover {
  text-decoration: underline; }

#listbook {
  display: inline-block;
  color: #BBBBBB;
  vertical-align: center;
  height: 100%;
  padding-right: 10px; }

.descript {
  font-size: 0.8em;
  margin: 0;
  padding: 0; }

.repoRight {
  font-family: helvetica;
  margin-top: 20px;
  float: right;
  font-size: 12px;
  padding: 5px;
  color: #66666F; }

.eventBar {
  display: inline-block;
  width: 60%;
  height: 700px;
  vertical-align: top;
  font-family: helvetica; }

.eachEvent {
  border-bottom: #EEEEEE 1px solid;
  border-top: #EEEEEE 1px solid;
  padding: 13px;
  display: inline-block;
  width: 100%;
  color: #666666;
  font-size: 0.8em; }

.hide {
  display: none; }
